    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        background-color: #ffffff;
        color: #e8e8e8;
        height: 100%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .main {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .navbar {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

    .columns {
        gap: 10px;
        display: flex;
        justify-content: space-between;
        padding: 1px 10px 10px 10px;
        flex: 1;
    }

    .head {
        display: flex;
        justify-content: space-between;
        background-color: #272727;
        border-radius: 10px;
        padding: 5px;
    }

    .mains {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        flex: 1;
        background-color: rgb(255, 255, 255);
    }



    .head {
        margin-bottom: 5px;
    }

    .tasks {
        background-color: #e60000;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .dragging {
        opacity: 1;
    }