*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
:root{
    --primary-bg-color: #eaeaea
}
.navv{
display: flex;
align-items: center;
justify-content: space-between;
max-height: 100vh;

}