* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    background-color: #ffffff;
    height: 100%;
    font-family: sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-color: #b30000; /* Red box background for logo */
    color: white;
    padding: 2px 5px;
}

.columns {
    gap: 15px;
    display: flex;
    padding: 10px;
    flex: 1;
}

.mains {
    background-color: #000000; /* Black columns as per your image */
    padding: 15px;
    border-radius: 10px;
    flex: 1;
    min-height: 500px;
}

.head {
    display: flex;
    justify-content: space-between;
    background-color: #272727;
    color: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.tasks {
    background-color: #000000; /* Red task card */
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: grab;
    border: 1px double white;
    margin-bottom: 10px;
}

.tasks.dragging {
    opacity: 0.1; /* Original niche wala halka dikhega */
}