* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #2d2d2d;
    --primary-bgd-color: #4a4a4a;
    --primary-main-color: #e5e5e5;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-color);
    color: var(--primary-main-color);
}

/* MAIN WRAPPER */
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
.navv {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

/* COLUMNS CONTAINER */
.columns {
    flex: 1;
    /* takes remaining height */
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* EACH COLUMN */
.same {
    flex: 1;
    background-color: var(--primary-bgd-color);
    display: flex;
    flex-direction: column;
}

/* HEADER */
.head {
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #666;
}

/* CONTENT AREA */
.content {
    padding: 10px;
}